<img 
  src="https://images4.alphacoders.com/817/817111.jpg" 
  alt="Portfolio Photo"
>

<p><strong>THIS IS AN ALIEN SITE! ANY ACTIONS ARE FORBIDDEN!</strong><br>
ΑΣΔΦςΑΣΙΔΥΦςΑΣΞΒΝΨΑΥΣΒΥΑΩ ΑΥΙΕΦΗΑ Υ
ΑΣΔΦΑΣΔΥΙΑΞΟ ΣΔΞΗΑ ΣΥΔΝΞ Α
Δ ΞΑΥΙΔΣΞΝΑ ΣΔΥΑ ΞΟΣΙΕΥ ΦΗΩΑΕ
ΔΞΑΣΔΞΑΣΝΔΙΦΥΡΗΥΙΕΤΡ\ ΑΔΦ
ΑΣΔΦΦΑΣΔΩΦΑΣΔ
 ΑΣΔΦΑΣΕΦΤΓΗΑΣΔΦΑΩΕΩΓΦΑΦΗςΚΙΥΛΣΡ
ΩΦΡ ΡΓΩΕΡΓΤ ΑΣΔ
</p>

<h2>Μψ Προςεξτσ</h2>

<ul>
  <li *ngFor="let project of projects">
    <app-project 
      name="{{project.name}}" 
      description="{{project.description}}"
    ></app-project>
  </li>
</ul>